@model SarsoShoppingData.DashboardViewModel
@{
    ViewBag.pageTitle = "Dahsboard";
    Layout = "~/Views/Shared/SkoteShared/Layouts/_layout_horizontal.cshtml";}


<div class="row">
    <div class="col-xl-4">
        <div class="card overflow-hidden">
            <div class="bg-soft-primary">
                <div class="row">
                    <div class="col-7">
                        <div class="text-primary p-3">
                            <h5 class="text-primary">Welcome Back !</h5>
                            <p>@Model.DistributorDetail.Memtype - @Model.ProfileDetail.name</p>
                        </div>
                    </div>
                    <div class="col-5 align-self-end">
                        <img src="~/assets/images/profile-img.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="avatar-md profile-user-wid mb-4">
                            <img src="@Model.DistributorDetail.RankImage" alt="" class="img-thumbnail rounded-circle">
                        </div>
                        <h5 class="font-size-15 text-truncate">Reg Id</h5>
                        <p class="text-muted mb-0 text-truncate">@Model.ProfileDetail.distributorId</p>
                    </div>

                    <div class="col-sm-8">
                        <div class="pt-4">

                            @*<div class="row">
                                    <div class="col-6">
                                        <h5 class="font-size-15">125</h5>
                                        <p class="text-muted mb-0">Projects</p>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="font-size-15">$1245</h5>
                                        <p class="text-muted mb-0">Revenue</p>
                                    </div>
                                </div>*@
                            <div class="mt-4">
                                <a href="~/Account/MyProfile" class="btn btn-primary waves-effect waves-light btn-sm">View Profile <i class="mdi mdi-arrow-right ml-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Monthly Earning</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="text-muted">This month</p>
                            <h3>$34,252</h3>
                            <p class="text-muted"><span class="text-success mr-2"> 12% <i class="mdi mdi-arrow-up"></i> </span> From previous period</p>

                            <div class="mt-4">
                                <a href="" class="btn btn-primary waves-effect waves-light btn-sm">View More <i class="mdi mdi-arrow-right ml-1"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mt-4 mt-sm-0">
                                <div id="radialBar-chart" class="apex-charts"></div>
                            </div>
                        </div>
                    </div>
                    <p class="text-muted mb-0">We craft digital, graphic and dimensional thinking.</p>
                </div>
            </div>*@
    </div>
    <div class="col-xl-8">
        <div class="row">
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium">Rank</p>
                                <h4 class="mb-0">@Model.DistributorDetail.Rank</h4>
                            </div>

                            <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                <span class="avatar-title">
                                    <i class="bx bx-copy-alt font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium">Wallet Amount</p>
                                <h4 class="mb-0">@Model.DistributorDetail.WalletAmount</h4>
                            </div>

                            <div class="avatar-sm rounded-circle bg-primary align-self-center mini-stat-icon">
                                <span class="avatar-title rounded-circle bg-primary">
                                    <i class="bx bx-archive-in font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium">Total Payout Earned</p>
                                <h4 class="mb-0">@Model.DistributorDetail.TotalPayoutEarned</h4>
                            </div>

                            <div class="avatar-sm rounded-circle bg-primary align-self-center mini-stat-icon">
                                <span class="avatar-title rounded-circle bg-primary">
                                    <i class="bx bx-purchase-tag-alt font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mini-stats-wid">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <p class="text-muted font-weight-medium">Personal Recruits</p>
                                <h4 class="mb-0">Customers (@Model.DistributorDetail.PersonalRecruits)</h4>
                            </div>

                            <div class="avatar-sm rounded-circle bg-primary align-self-center mini-stat-icon">
                                <span class="avatar-title rounded-circle bg-primary">
                                    <i class="bx bx-purchase-tag-alt font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
   
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Earned Income Details of month</h4>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0" style="width:100%">
                        <thead class="thead-light">
                            <tr>
                                <th style="width:10%"></th>
                                <th style="width:45%">Income Type</th>
                                <th style="width:45%">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="3"><img src="@Model.DistributorDetail.RankImage"></td>
                                <td>Monthly Retail Star Bonus</td>
                                <td><span>@Model.CVDetail.MRSBonus</span></td>
                            </tr>
                            <tr>
                                <td>HSO Bonus</td>
                                <td><span>@Model.CVDetail.HSOBonus </span></td>
                            </tr>
                            <tr>
                                <td>Leverage Bonus</td>
                                <td><span>@Model.CVDetail.LVBonus</span></td>
                            </tr>
                            <tr>
                                <td rowspan="1">Name</td>
                                <td>1K Matching Bonus</td>
                                <td><span>@Model.CVDetail.MatchBonus</span></td>
                            </tr>
                            <tr>
                                <td rowspan="1"><span style="color:red"><b>@Model.DistributorDetail.Name</b></span></td>
                                <td>Gold Key Treasure</td>
                                <td><span>@Model.CVDetail.goldkeytreasure</span></td>
                            </tr>
                            <tr>
                                <td rowspan="1">Rank</td>
                                <td>Earl Treasure</td>
                                <td><span>@Model.CVDetail.EarlTreasure</span></td>
                            </tr>
                            <tr>
                                <td rowspan="1"><span style="color:red"><b>@Model.DistributorDetail.Rank</b></span></td>
                                <td>Diamond Treasure</td>
                                <td><span>@Model.CVDetail.DiamondTreasure</span></td>
                            </tr>
                            <tr>
                                <td rowspan="1"></td>
                                <td>Power Performance Treasure</td>
                                <td><span>@Model.CVDetail.PPTreasure</span></td>
                            </tr>
                            <tr>
                                <td rowspan="1"></td>
                                <td>Royal Perks</td>
                                <td><span>@Model.CVDetail.RoyaltyBonus</span></td>
                            </tr>                            
                            <tr>
                                <td rowspan="1"></td>
                                <td>Congratulations @Model.DistributorDetail.Name for achieving <b>@Model.DistributorDetail.Rank</b> Rank!</td>
                                <td><span>Total : 0</span></td>
                            </tr>
                            <tr>
                                <td colspan="3" align="center">
                                    <p style="color: darkred; text-align: justify;">Disclaimer: This payout calculation is tentative and subject to change if there is order cancellation anywhere in the downline network of the distributor until 31st October 2020. The final payout will be released on 3rd November 2020.</p>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Overall Earned Incomes Details till @Model.OverAllCVDetail.Year</h4>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0" style="width:100%">
                        <thead class="thead-light">
                            <tr>
                               
                                <th style="width:60%">Income Type</th>
                                <th style="width:40%">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              
                                <td>Monthly Retail Star Bonus</td>
                                <td><span>@Model.OverAllCVDetail.MRSBonus</span></td>
                            </tr>
                            <tr>
                                <td>HSO Bonus</td>
                                <td><span>@Model.OverAllCVDetail.HSOBonus </span></td>
                            </tr>
                            <tr>
                                <td>Leverage Bonus</td>
                                <td><span>@Model.OverAllCVDetail.LVBonus</span></td>
                            </tr>
                            <tr>
                               
                                <td>1K Matching Bonus</td>
                                <td><span>@Model.OverAllCVDetail.MatchBonus</span></td>
                            </tr>
                            <tr>
                                
                                <td>Gold Key Treasure</td>
                                <td><span>@Model.OverAllCVDetail.goldkeytreasure</span></td>
                            </tr>
                            <tr>
                                
                                <td>Earl Treasure</td>
                                <td><span>@Model.OverAllCVDetail.EarlTreasure</span></td>
                            </tr>
                            <tr>
                               
                                <td>Diamond Treasure</td>
                                <td><span>@Model.OverAllCVDetail.DiamondTreasure</span></td>
                            </tr>
                            <tr>
                               
                                <td>Power Performance Treasure</td>
                                <td><span>@Model.OverAllCVDetail.PPTreasure</span></td>
                            </tr>
                            <tr>
                               
                                <td>Royal Perks</td>
                                <td><span>@Model.OverAllCVDetail.RoyaltyBonus</span></td>
                            </tr>
                            <tr>
                                
                                <td></td>
                                <td><span>Total : 0</span></td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Current Month & Overall CV Turnover Details in Direct Business Center </h4>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0" style="width:100%">
                        <thead class="thead-light">
                            <tr>
                                <td align="center" style="width:20%">
                                    Direct Sponsored ID's
                                </td>
                                <td align="center" style="width:40%">
                                    Current Month CV (<span ID="lblrunning">@DateTime.Now.ToString("Y")</span>)
                                </td>
                                <td align="center" style="width:40%">
                                    Overall CV
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            @{ decimal CurTotalGCV = 0;
                                decimal TotalGCV = 0;
                              }
                            @foreach (var sicp in Model.Sicp_detail)
                            {
                                <tr>
                                    <td align="center">@sicp.teamtype - @sicp.Name</td>
                                    <td align="center">@sicp.CURtotalGCV</td>
                                    <td align="center">@sicp.totalGCV</td>
                                </tr>
                                CurTotalGCV += sicp.CURtotalGCV??0;
                                TotalGCV += sicp.totalGCV??0;
                            }
                            <tr style="color:red;">
                                <td align="center">Total GCV</td>
                                <td align="center">@CurTotalGCV</td>
                                <td align="center">@TotalGCV</td>
                            </tr>
                                                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Orders</h4>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0">
                        <thead class="thead-light">
                            <tr>                               
                                <th>Sno</th>
                                <th>RefNo</th>
                                <th>Date of Purchase</th>
                                <th>CV Points</th>
                                <th>Amount</th>
                                <th>Inv Date</th>
                                <th>Courier</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var orderDetail in Model.OrderList)
                            {
                                <tr>                                    
                                    <td>@orderDetail.Sno </td>
                                    <td>@orderDetail.RefNo</td>
                                    <td>@orderDetail.DateOfPurchase</td>
                                    <td>@orderDetail.CvPoints</td>
                                    <td>@orderDetail.Amount</td>
                                    <td>@orderDetail.InvDate</td>
                                    <td>@orderDetail.CourierDetail</td>                                   
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- end table-responsive -->
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<!-- Modal -->
<div class="modal fade exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="mb-2">Product id: <span class="text-primary">#SK2540</span></p>
                <p class="mb-4">Billing Name: <span class="text-primary">Neal Matthews</span></p>

                <div class="table-responsive">
                    <table class="table table-centered table-nowrap">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <div>
                                        <img src="~/assets/images/product/img-7.png" alt="" class="avatar-sm">
                                    </div>
                                </th>
                                <td>
                                    <div>
                                        <h5 class="text-truncate font-size-14">Wireless Headphone (Black)</h5>
                                        <p class="text-muted mb-0">$ 225 x 1</p>
                                    </div>
                                </td>
                                <td>$ 255</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div>
                                        <img src="~/assets/images/product/img-4.png" alt="" class="avatar-sm">
                                    </div>
                                </th>
                                <td>
                                    <div>
                                        <h5 class="text-truncate font-size-14">Phone patterned cases</h5>
                                        <p class="text-muted mb-0">$ 145 x 1</p>
                                    </div>
                                </td>
                                <td>$ 145</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h6 class="m-0 text-right">Sub Total:</h6>
                                </td>
                                <td>
                                    $ 400
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h6 class="m-0 text-right">Shipping:</h6>
                                </td>
                                <td>
                                    Free
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <h6 class="m-0 text-right">Total:</h6>
                                </td>
                                <td>
                                    $ 400
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal -->
<!-- End Page-content -->

@section scripts{
    <!-- apexcharts -->
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

    <script src="~/assets/js/pages/dashboard.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}






