@model SarsoShoppingData.ProductDetails

<div class="container-fluid container-fluid0">
    <div class="tp-banner-container hidden-dot ver4">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/images/pagebanner/category-banner.jpg" alt="Category Banner" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 9 -->

                </li>
            </ul>
        </div>
    </div>
    <!-- End container -->
</div>
<!-- End Banner Grid -->
<div class="main-content">
    <div class="container">
        <div class="product-details-content">
            <div class="col-md-5 col-sm-5 pad40">
                <div class="slider-for">
                   @foreach (var image in Model.productImage)
                   {
                    <div> <span class="zoom"> <img class="zoom-images" src="~/Image/@image.images" alt="images"> </span> </div>
                   }                                        
                </div>
                <!-- End slider-for -->
                <div class="slider-nav">
                    @foreach (var image in Model.productImage)
                    {
                      <div> <img src="~/Image/@image.thumbimage" alt="images"> </div>
                    }
                </div>
            </div>
            <div class="col-md-7 col-sm-7">
                <div class="box-details-info">
                    <div class="product-name">
                        <h1>@Model.product.Pname</h1>
                    </div>
                    <!-- End product-name -->
                    <div class="rating">
                        <div class="overflow-h">
                            <div class="icon-rating">
                                <input type="radio" checked="" name="star-horizontal-rating" id="star-horizontal-rating-1">
                                <label for="star-horizontal-rating-1"><i class="fa fa-star-half-o"></i></label>
                                <input type="radio" checked="" name="star-horizontal-rating" id="star-horizontal-rating-2">
                                <label for="star-horizontal-rating-2"><i class="fa fa-star"></i></label>
                                <input type="radio" checked="" name="star-horizontal-rating" id="star-horizontal-rating-3">
                                <label for="star-horizontal-rating-3"><i class="fa fa-star"></i></label>
                                <input type="radio" name="star-horizontal-rating" id="star-horizontal-rating-4">
                                <label for="star-horizontal-rating-4"><i class="fa fa-star"></i></label>
                                <input type="radio" name="star-horizontal-rating" id="star-horizontal-rating-5">
                                <label for="star-horizontal-rating-5"><i class="fa fa-star"></i></label>
                            </div>
                            <span>3.6 (5 Reviews)</span>
                        </div>
                    </div>
                    <!-- End Rating -->
                    <div class="wrap-price">
                        <p class="price-old">Rs.@Model.product.MRP</p>
                        <p class="price">Rs.@Model.product.offprice</p>
                    </div>
                    
                    <!-- End Price -->
                </div>
                <!-- End box details info -->
                <div class="options">
                    <p>@Model.product.Descr</p>

                    @*<div class="title">
                    <h3>COLOR</h3>
                    </div>
                    <div class="select-color box space-30">
                    <span class="active color1">1</span>
                    <span class="color2">2</span>
                    <span class="color3">3</span>
                    <span class="color4">4</span>
                    <span class="color5">5</span>
                    <span class="color6">6</span>
                    <span class="color7">7</span>
                    <span class="color8">8</span>
                    <span class="color9">9</span>
                    </div>*@
                    <!-- End select color -->
                    <form enctype="multipart/form-data" name="ProductAddtoCart">
                        <input type="hidden" name="ProductCode" value="@Model.product.pcode">
                        @foreach (var attr in Model.productAttr)
                        {
                        var fieldList = Model.productAttrFields.Where(r => r.Attribute_Name == attr.Attribute_Name).ToList();
                        <div class="box space-30">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="title">
                                        <h3>@attr.Attribute_Name</h3>
                                    </div>
                                    
                                    <select name="AttributeField" required="required">
                                        <option value="">@attr.Attribute_Name</option>
                                        @foreach (var field in fieldList)
                                        {
                                           <option value="@field.Field">@field.Field</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        }
                        <div class="box space-30">
                            <div class="action">

                                <div class="product-signle-options product_15 clearfix">
                                    <div class="selector-wrapper size">
                                        <div class="quantity">
                                            <span class="minus"><i class="fa fa-minus"></i></span>
                                            <input type="text" name="Quantity" size="4" class="qty" title="Qty" value="1" data-step="1">
                                            <span class="plus"><i class="fa fa-plus"></i></span>
                                        </div>
                                    </div>
                                </div>

                                
                                <a href="#" onclick="CheckLogin('DetailBuy')" title="Add to cart" class="link-v1 add-cart"><span>Add to cart</span></a>

                            </div>
                            </div>
                            <!-- End row -->
                    </form>
                    <div class="social box">
                        <h3>Share this :</h3>
                        <a class="twitter" href="#" title="social"><i class="fa fa-twitter-square"></i></a> <a class="dribbble" href="#" title="social"><i class="fa fa-dribbble"></i></a> <a class="skype" href="#" title="social"><i class="fa fa-skype"></i></a> <a class="pinterest" href="#" title="social"><i class="fa fa-pinterest"></i></a> <a class="facebook" href="#" title="social"><i class="fa fa-facebook-square"></i></a>
                    </div>
                    <!-- End share -->
                    </div>
                    <!-- End Options -->
                </div>
                    </div>
                    <!-- End product-details-content -->
                    <div class="hoz-tab-container ver2 space-padding-tb-30">
                        <ul class="tabs center">
                            <li class="item" rel="description">Description</li>
                            <li class="item" rel="ingredients">Ingredients</li>
                            <li class="item" rel="use">How to Use?</li>
                            <li class="item" rel="customer">Customer Reviews (15)</li>
                        </ul>
                        <div class="tab-container">
                            <div id="description" class="tab-content">
                                <div class="text center">
                                    <p>@Model.product.Descr</p>
                                </div>
                            </div>
                            <div id="ingredients" class="tab-content">
                                <div class="text center">
                                    <p>ingredients </p>
                                </div>
                            </div>
                            <div id="use" class="tab-content">
                                <div class="text center">
                                    <p>How to Use? </p>
                                </div>
                            </div>
                            <div id="customer" class="tab-content">
                                <div class="box border">
                                    <h3>Reviews (0)</h3>
                                    <p>There are no reviews yet.</p>
                                </div>
                                <form class="form-horizontal">
                                    <h3>Add a Review</h3>
                                    <div class="box">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="inputName">Name *</label>
                                                <input type="text" class="form-control" id="inputName" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="inputsumary">Email <span class="color">*</span></label>
                                                <input type="text" class="form-control" id="inputsumary" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box rating">
                                        <p>Your Rating <span class="color">*</span></p>
                                        <ul>
                                            <li> <a href="#" title="rating"> <i class="fa fa-star"></i> </a> </li>
                                            <li> <a class="active" href="#" title="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </a> </li>
                                            <li> <a href="#" title="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </a> </li>
                                            <li> <a href="#" title="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </a> </li>
                                            <li> <a href="#" title="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </a> </li>
                                        </ul>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="inputReview">Review <span class="color">*</span></label>
                                        <textarea class="form-control" id="inputReview"></textarea>
                                    </div>
                                    <a class="button-v1" href="#" title="add tags">Send review</a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- tab-container -->
                    <div class="title-text-v2 space-60">
                        <h3 style="color:#c1b283;">Related Products</h3>
                    </div>
                    <!-- End title -->
                    <div class="related-product products ver2 furniture">
                        <div class="item-inner">
                            <div class="product">
                                <div class="product-images">
                                    <a href="~/Home/ProductDetail?ProdID=1813" title="Swadharma Sea Buckthorn Juice Powder"> <img class="primary_image" src="~/assets/images/products/1.jpg" alt="" /> </a>
                                    <div class="action">
                                        <a class="zoom" href="#" title="Quick view">

                                            <i class="icon icon-magnifier-add" data-toggle="modal" data-target=".open"></i>
                                        </a> <a class="add-cart" href="#" title="Add to cart"><i class="icon-bag"></i></a>
                                    </div>
                                    <!-- End action -->
                                </div>
                                <a href="~/Home/ProductDetail?ProdID=1813" title="Swadharma Sea Buckthorn Juice Powder">
                                    <p class="product-title">Swadharma Sea Buckthorn Juice Powder</p>
                                </a>
                                <p class="product-price">Rs.1199.00</p>
                            </div>
                            <!-- End product -->
                        </div>
                        <div class="item-inner">
                            <div class="product">
                                <div class="product-images">
                                    <a href="~/Home/ProductDetail?ProdID=1821" title="Swadharma Face Care Gift Set"> <img class="primary_image" src="~/assets/images/products/2.jpg" alt="" /> </a>
                                    <div class="action"> <a class="zoom" href="#" title="Quick view"><i class="icon icon-magnifier-add "></i></a> <a class="add-cart" href="#" title="Add to cart"><i class="icon-bag"></i></a> </div>
                                    <!-- End action -->
                                </div>
                                <a href="~/Home/ProductDetail?ProdID=1821" title="Swadharma Face Care Gift Set">
                                    <p class="product-title">Swadharma Face Care Gift Set</p>
                                </a>
                                <p class="product-price">Rs.1999.00</p>
                            </div>
                            <!-- End product -->
                        </div>
                        <div class="item-inner">
                            <div class="product">
                                <div class="product-images">
                                    <a href="~/Home/ProductDetail?ProdID=1822" title="Swadharma Hair Care Kit"> <img class="primary_image" src="~/assets/images/products/3.jpg" alt="" /> </a>
                                    <div class="action"> <a class="zoom" href="#" title="Quick view"><i class="icon icon-magnifier-add "></i></a> <a class="add-cart" href="#" title="Add to cart"><i class="icon-bag"></i></a> </div>
                                    <!-- End action -->
                                </div>
                                <a href="~/Home/ProductDetail?ProdID=1822" title="Swadharma Hair Care Kit">
                                    <p class="product-title">Swadharma Hair Care Kit</p>
                                </a>
                                <p class="product-price">Rs.1799.00</p>
                            </div>
                            <!-- End product -->
                        </div>
                        <div class="item-inner">
                            <div class="product">
                                <div class="product-images">
                                    <a href="~/Home/ProductDetail?ProdID=1794" title="Swadharma Facial Toner"> <img class="primary_image" src="~/assets/images/products/4.jpg" alt="" /> </a>
                                    <div class="action"> <a class="zoom" href="#" title="Quick view"><i class="icon icon-magnifier-add "></i></a> <a class="add-cart" href="#" title="Add to cart"><i class="icon-bag"></i></a> </div>
                                    <!-- End action -->
                                </div>
                                <a href="~/Home/ProductDetail?ProdID=1794" title="Swadharma Facial Toner">
                                    <p class="product-title">Swadharma Facial Toner</p>
                                </a>
                                <p class="product-price">Rs.299.00</p>
                            </div>
                            <!-- End product -->
                        </div>
                        <div class="item-inner">
                            <div class="product">
                                <div class="product-images">
                                    <a href="~/Home/ProductDetail?ProdID=1793" title="Swadharma Tricho Conditioner"> <img class="primary_image" src="~/assets/images/products/5.jpg" alt="" /> </a>
                                    <div class="action"> <a class="zoom" href="#" title="Quick view"><i class="icon icon-magnifier-add "></i></a> <a class="add-cart" href="#" title="Add to cart"><i class="icon-bag"></i></a> </div>
                                    <!-- End action -->
                                </div>
                                <a href="~/Home/ProductDetail?ProdID=1793" title="Swadharma Tricho Conditioner">
                                    <p class="product-title">Swadharma Tricho Conditioner</p>
                                </a>
                                <p class="product-price">Rs.499.00</p>
                            </div>
                            <!-- End product -->
                        </div>
                    </div>
                </div>
    <!-- End container -->
</div>
<!-- end product sidebar -->
<div class="container-fluid0">
    <div class="newsletter-bottom center">
        <div class="items">
            <img class="img-responsive" src="~/assets/images/newsletter-bottom.jpg" alt="Newsletter">
            <div class="text">
                <h3>Sign Up Special Promotions</h3>
                <p>Get exclusive deals you wont find anywhere else straight to your inbox!</p>
                <form action="#" method="get" accept-charset="utf-8">
                    <input type="text" onblur="if (this.value == '') {this.value = 'Enter your email...';}" onfocus="if(this.value != '') {this.value = '';}" value="Enter your email..." class="input-text required-entry validate-email" title="Sign up for our newsletter" id="newsletter" name="email">
                    <button class="button" title="Join" type="submit">Join</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End newsletter -->
@{Html.RenderPartial("~/Views/Shared/_BrandLogo.cshtml");   }
<script src="~/Scripts/Cart.js?v=1"></script>