<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="bx bx-home-circle"></i><span class="badge badge-pill badge-info float-right">3</span>
                        <span>Dashboards</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("Index","Dashboard")">Default</a></li>
                        <li><a href="@Url.Action("dashboard-saas", "Dashboard")">Saas</a></li>
                        <li><a href="@Url.Action("dashboard-crypto", "Dashboard")">Crypto</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-layout"></i>
                        <span>Layouts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("layout-horizontal","Layouts")">Horizontal</a></li>
                        <li><a href="@Url.Action("layout-light-sidebar","Layouts")">Light Sidebar</a></li>
                        <li><a href="@Url.Action("layout-compact-sidebar","Layouts")">Compact Sidebar</a></li>
                        <li><a href="@Url.Action("layout-icon-sidebar","Layouts")">Icon Sidebar</a></li>
                        <li><a href="@Url.Action("layout-boxed","Layouts")">Boxed Layout</a></li>
                        <li><a href="@Url.Action("layout-preloader","Layouts")">Preloader</a></li>
                        <li><a href="@Url.Action("layout-colored-sidebar","Layouts")">Colored Sidebar</a></li>
                    </ul>
                </li>

                <li class="menu-title">Apps</li>

                <li>
                    <a href="@Url.Action("Index","Calendar")" class=" waves-effect">
                        <i class="bx bx-calendar"></i>
                        <span>Calendar</span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index","Chat")" class=" waves-effect">
                        <i class="bx bx-chat"></i>
                        <span class="badge badge-pill badge-success float-right">New</span>
                        <span>Chat</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-store"></i>
                        <span>Ecommerce</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("ecommerce-products","Ecommerce")">Products</a></li>
                        <li><a href="@Url.Action("ecommerce-productdetail","Ecommerce")">Product Detail</a></li>
                        <li><a href="@Url.Action("ecommerce-orders","Ecommerce")">Orders</a></li>
                        <li><a href="@Url.Action("ecommerce-customers","Ecommerce")">Customers</a></li>
                        <li><a href="@Url.Action("ecommerce-cart","Ecommerce")">Cart</a></li>
                        <li><a href="@Url.Action("ecommerce-checkout","Ecommerce")">Checkout</a></li>
                        <li><a href="@Url.Action("ecommerce-shops","Ecommerce")">Shops</a></li>
                        <li><a href="@Url.Action("ecommerce-addproduct","Ecommerce")">Add Product</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-bitcoin"></i>
                        <span>Crypto</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("crypto-wallet", "Crypto")">Wallet</a></li>
                        <li><a href="@Url.Action("crypto-buy-sell", "Crypto")">Buy/Sell</a></li>
                        <li><a href="@Url.Action("crypto-exchange", "Crypto")">Exchange</a></li>
                        <li><a href="@Url.Action("crypto-lending", "Crypto")">Lending</a></li>
                        <li><a href="@Url.Action("crypto-orders", "Crypto")">Orders</a></li>
                        <li><a href="@Url.Action("crypto-kyc-application", "Crypto")">KYC Application</a></li>
                        <li><a href="@Url.Action("crypto-ico-landing", "Crypto")">ICO Landing</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-envelope"></i>
                        <span>Email</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("email-inbox","Email")">Inbox</a></li>
                        <li><a href="@Url.Action("email-read","Email")">Read Email</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-receipt"></i>
                        <span>Invoices</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("invoices-list","Invoices")">Invoice List</a></li>
                        <li><a href="@Url.Action("invoices-detail","Invoices")">Invoice Detail</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-briefcase-alt-2"></i>
                        <span>Projects</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("projects-grid","Projects")">Projects Grid</a></li>
                        <li><a href="@Url.Action("projects-list","Projects")">Projects List</a></li>
                        <li><a href="@Url.Action("projects-overview","Projects")">Project Overview</a></li>
                        <li><a href="@Url.Action("projects-create","Projects")">Create New</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-task"></i>
                        <span>Tasks</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("tasks-list","Tasks")">Task List</a></li>
                        <li><a href="@Url.Action("tasks-kanban","Tasks")">Kanban Board</a></li>
                        <li><a href="@Url.Action("tasks-create","Tasks")">Create Task</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-user-detail"></i>
                        <span>Contacts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("contacts-grid","Contacts")">User Grid</a></li>
                        <li><a href="@Url.Action("contacts-list","Contacts")">User List</a></li>
                        <li><a href="@Url.Action("contacts-profile","Contacts")">Profile</a></li>
                    </ul>
                </li>

                <li class="menu-title">Pages</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-user-circle"></i>
                        <span>Authentication</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("auth-login","Auth")">Login</a></li>
                        <li><a href="@Url.Action("auth-register","Auth")">Register</a></li>
                        <li><a href="@Url.Action("auth-recoverpw","Auth")">Recover Password</a></li>
                        <li><a href="@Url.Action("auth-lock-screen","Auth")">Lock Screen</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-file"></i>
                        <span>Utility</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("pages-starter","Pages")">Starter Page</a></li>
                        <li><a href="@Url.Action("pages-maintenance","Pages")">Maintenance</a></li>
                        <li><a href="@Url.Action("pages-comingsoon","Pages")">Coming Soon</a></li>
                        <li><a href="@Url.Action("pages-timeline","Pages")">Timeline</a></li>
                        <li><a href="@Url.Action("pages-faqs","Pages")">FAQs</a></li>
                        <li><a href="@Url.Action("pages-pricing","Pages")">Pricing</a></li>
                        <li><a href="@Url.Action("pages-404","Pages")">Error 404</a></li>
                        <li><a href="@Url.Action("pages-500","Pages")">Error 500</a></li>
                    </ul>
                </li>

                <li class="menu-title">Components</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-tone"></i>
                        <span>UI Elements</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("ui-alerts","UI")">Alerts</a></li>
                        <li><a href="@Url.Action("ui-buttons","UI")">Buttons</a></li>
                        <li><a href="@Url.Action("ui-cards","UI")">Cards</a></li>
                        <li><a href="@Url.Action("ui-carousel","UI")">Carousel</a></li>
                        <li><a href="@Url.Action("ui-dropdowns","UI")">Dropdowns</a></li>
                        <li><a href="@Url.Action("ui-grid","UI")">Grid</a></li>
                        <li><a href="@Url.Action("ui-images","UI")">Images</a></li>
                        <li><a href="@Url.Action("ui-lightbox","UI")">Lightbox</a></li>
                        <li><a href="@Url.Action("ui-modals","UI")">Modals</a></li>
                        <li><a href="@Url.Action("ui-rangeslider","UI")">Range Slider</a></li>
                        <li><a href="@Url.Action("ui-session-timeout","UI")">Session Timeout</a></li>
                        <li><a href="@Url.Action("ui-progressbars","UI")">Progress Bars</a></li>
                        <li><a href="@Url.Action("ui-sweet-alert","UI")">Sweet-Alert</a></li>
                        <li><a href="@Url.Action("ui-tabs-accordions","UI")">Tabs & Accordions</a></li>
                        <li><a href="@Url.Action("ui-typography","UI")">Typography</a></li>
                        <li><a href="@Url.Action("ui-video","UI")">Video</a></li>
                        <li><a href="@Url.Action("ui-general","UI")">General</a></li>
                        <li><a href="@Url.Action("ui-colors","UI")">Colors</a></li>
                        <li><a href="@Url.Action("ui-rating","UI")">Rating</a></li>
                        <li><a href="@Url.Action("ui-notifications", "UI")">Notifications</a></li>
                        <li><a href="@Url.Action("ui-image-cropper", "UI")">Image Cropper</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="bx bxs-eraser"></i>
                        <span class="badge badge-pill badge-danger float-right">10</span>
                        <span>Forms</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("form-elements","Forms")">Form Elements</a></li>
                        <li><a href="@Url.Action("form-layouts", "Forms")">Form Layouts</a></li>
                        <li><a href="@Url.Action("form-validation","Forms")">Form Validation</a></li>
                        <li><a href="@Url.Action("form-advanced","Forms")">Form Advanced</a></li>
                        <li><a href="@Url.Action("form-editors","Forms")">Form Editors</a></li>
                        <li><a href="@Url.Action("form-uploads","Forms")">Form File Upload</a></li>
                        <li><a href="@Url.Action("form-xeditable","Forms")">Form Xeditable</a></li>
                        <li><a href="@Url.Action("form-repeater","Forms")">Form Repeater</a></li>
                        <li><a href="@Url.Action("form-wizard","Forms")">Form Wizard</a></li>
                        <li><a href="@Url.Action("form-mask","Forms")">Form Mask</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-list-ul"></i>
                        <span>Tables</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("tables-basic","Tables")">Basic Tables</a></li>
                        <li><a href="@Url.Action("tables-datatable","Tables")">Data Tables</a></li>
                        <li><a href="@Url.Action("tables-responsive","Tables")">Responsive Table</a></li>
                        <li><a href="@Url.Action("tables-editable","Tables")">Editable Table</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-bar-chart-alt-2"></i>
                        <span>Charts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("charts-apex","Charts")">Apex charts</a></li>
                        <li><a href="@Url.Action("charts-echart", "Charts")">E Charts</a></li>
                        <li><a href="@Url.Action("charts-chartjs","Charts")">Chartjs Chart</a></li>
                        <li><a href="@Url.Action("charts-flot","Charts")">Flot Chart</a></li>
                        <li><a href="@Url.Action("charts-tui","Charts")">Toast UI Chart</a></li>
                        <li><a href="@Url.Action("charts-knob","Charts")">Jquery Knob Chart</a></li>
                        <li><a href="@Url.Action("charts-sparkline","Charts")">Sparkline Chart</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-aperture"></i>
                        <span>Icons</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("icons-boxicons","Icons")">Boxicons</a></li>
                        <li><a href="@Url.Action("icons-materialdesign","Icons")">Material Design</a></li>
                        <li><a href="@Url.Action("icons-dripicons","Icons")">Dripicons</a></li>
                        <li><a href="@Url.Action("icons-fontawesome","Icons")">Font awesome</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-map"></i>
                        <span>Maps</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="@Url.Action("maps-google","Maps")">Google Maps</a></li>
                        <li><a href="@Url.Action("maps-vector","Maps")">Vector Maps</a></li>
                        <li><a href="@Url.Action("maps-leaflet", "Maps")">Leaflet Maps</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-share-alt"></i>
                        <span>Multi Level</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="javascript: void(0);">Level 1.1</a></li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">Level 1.2</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="javascript: void(0);">Level 2.1</a></li>
                                <li><a href="javascript: void(0);">Level 2.2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->